<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotteria</title>
    <link rel="stylesheet" th:href="@{/styles/font.css}" />
    <link rel="stylesheet" th:href="@{/styles/normalize.css}" />
    <link rel="stylesheet" th:href="@{/styles/lotteria.css}" />
    <link rel="stylesheet" th:href="@{/styles/trash-can.css}" />
    <script th:src="@{/scripts/lotteria-example.js}" defer></script>
</head>
<body>
    <dialog id="modal-box">
        <div class="modal-wrap">
            <div class="modal-container">
                <form action="lotteria-add-menu" class="hamburger-add-form" method="post" enctype="multipart/form-data">
                    <label>
                        <span>햄버거 이름</span>
                        <input type="text" name="name" placeholder="햄버거 이름을 입력해주세요" />
                    </label>
                    <label>
                        <span>햄버거 가격</span>
                        <input type="number" name="price" placeholder="햄버거 가격을 입력해주세요"  />
                    </label>
                    <label>
                        <span>햄버거 이미지</span>
                        <input type="file" name="image" placeholder="햄버거 이미지 경로를 입력해주세요" accept="image/*" />
                    </label>
                    <label class="lotteria-form-checkbox">
                        <span>신제품 여부</span>
                        <input type="checkbox" name="isNew" placeholder="신제품 여부를 입력해주세요" />
                    </label>
                    <label class="lotteria-form-checkbox">
                        <span>추천 여부</span>
                        <input type="checkbox" name="isRecommended" placeholder="추천 여부를 입력해주세요" />
                    </label>
                    <input type="submit" value="submit" />
                </form>
                <button id="close-modal">Close</button>
            </div>
        </div>
    </dialog>
    <header class="title-box wrap-box">
        <h3 class="inner-box">롯데리아</h3>
    </header>
    <article class="wrap-box">
        <section class="inner-box tab-box">
            <label aria-label="추천메뉴 탭" role="tab">
                <span>추천메뉴</span>
                <input checked="checked" hidden="hidden" name="tab-content" type="radio" />
            </label>
            <label aria-label="전체메뉴 탭" role="tab">
                <span>전체메뉴</span>
                <input hidden="hidden" name="tab-content" type="radio" />
            </label>
            <label aria-label="메뉴추가 팝업" role="tab">
                <span>메뉴 추가</span>
                <input hidden="hidden" name="tab-content" type="button" id="open-add-menu-modal" />
            </label>
            <label>
                <span>이름</span>
                <input id="search-hamburger" class="search-field" type="text"  />
            </label>
        </section>

        <section class="inner-box list-box">
<!--            <div class="hamburger-box">-->
<!--                <img class="hamburger-image" alt="데리버거" src="/images/데리버거.png" />-->
<!--                <p class="hamburger-data hamburger-name">데리버거</p>-->
<!--                <p class="hamburger-data hamburger-price">3,500원</p>-->
<!--            </div>-->
        </section>
    </article>

</body>
</html>