<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active {
            color: red;
        }

        .de-active {
            color: gainsboro;
        }
    </style>
    <script th:inline="javascript">
        const rootMenu = /*[[${rootMenu}]]*/ {};
        console.log(rootMenu)
    </script>
</head>
<body>
  <ul>
    <li>
      <span th:text="${rootMenu.getName()}"></span>
      <ul>
        <li th:each="subMenu: ${rootMenu.getMenus()}">
            <label>
                <span th:class="${subMenu.getActive() ? 'active' : 'de-active'}" th:text="${subMenu.getName()}"></span>
                <input type="checkbox" th:checked="${subMenu.getActive()}" />
            </label>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>